In [1]:
import numpy as np

In [11]:
x = np.linspace(0, 24)
x

array([ 0.        ,  0.48979592,  0.97959184,  1.46938776,  1.95918367,
        2.44897959,  2.93877551,  3.42857143,  3.91836735,  4.40816327,
        4.89795918,  5.3877551 ,  5.87755102,  6.36734694,  6.85714286,
        7.34693878,  7.83673469,  8.32653061,  8.81632653,  9.30612245,
        9.79591837, 10.28571429, 10.7755102 , 11.26530612, 11.75510204,
       12.24489796, 12.73469388, 13.2244898 , 13.71428571, 14.20408163,
       14.69387755, 15.18367347, 15.67346939, 16.16326531, 16.65306122,
       17.14285714, 17.63265306, 18.12244898, 18.6122449 , 19.10204082,
       19.59183673, 20.08163265, 20.57142857, 21.06122449, 21.55102041,
       22.04081633, 22.53061224, 23.02040816, 23.51020408, 24.        ])

In [29]:
apple = list(range(1, 25))

In [30]:
def timesThree(x):
    return [i*3 for i in x]

In [31]:
timesThree(apple)

[3,
 6,
 9,
 12,
 15,
 18,
 21,
 24,
 27,
 30,
 33,
 36,
 39,
 42,
 45,
 48,
 51,
 54,
 57,
 60,
 63,
 66,
 69,
 72]