In [26]:
import pandas as pd
import matplotlib.pyplot as plt

In [27]:
!ls data/alex_hours_csv/

13_5_2021.csv  16_5_2021.csv  19_5_2021.csv  22_5_2021.csv
14_5_2021.csv  17_5_2021.csv  20_5_2021.csv  23_5_2021.csv
15_5_2021.csv  18_5_2021.csv  21_5_2021.csv  24_5_2021.csv

In [28]:
df = pd.read_csv('data/alex_hours_csv/17_5_2021.csv')

In [29]:
df["Time"] = '2021-05-17 ' + df['Time'].astype(str)

In [32]:
df["Time"] = pd.to_datetime(df["Time"])

In [33]:
df

                    Time     Username              UserID      Voice Channel
0    2021-05-17 07:57:00   Liam ¬ LTF  716047297636597782       Algo Trading
1    2021-05-17 07:58:31   Liam ¬ LTF  716047297636597782       Algo Trading
2    2021-05-17 08:00:01   Liam ¬ LTF  716047297636597782       Algo Trading
3    2021-05-17 08:01:31   Liam ¬ LTF  716047297636597782       Algo Trading
4    2021-05-17 08:03:01   Liam ¬ LTF  716047297636597782       Algo Trading
...                  ...          ...                 ...                ...
1388 2021-05-17 22:09:08           BK  708865402943438929  Token Engineering
1389 2021-05-17 22:09:08  Aidan | LTF  686755249138302977  Token Engineering
1390 2021-05-17 22:10:38           BK  708865402943438929  Token Engineering
1391 2021-05-17 22:12:08           BK  708865402943438929  Token Engineering
1392 2021-05-17 22:13:38           BK  708865402943438929  Token Engineering

[1393 rows x 4 columns]

In [35]:
df.plot(x="Time", y="Username")

TypeError: no numeric data to plot